# Global
export DEBUG=1
export LOCALENV=1

# Mail
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=

# CentralNic Production
# export CENTRALNIC_ENDPOINT=
# export CENTRALNIC_USERNAME=
# export CENTRALNIC_PASSWORD=

# CentralNic Testing
export CENTRALNIC_ENDPOINT=
export CENTRALNIC_USERNAME=
export CENTRALNIC_PASSWORD=

# Stripe Production
# export STRIPE_API_KEY=

# Stripe Testing
export STRIPE_API_KEY=
