/* root */
html, body { margin: 0; }
body { font-family: monospace; line-height: 1.3; }

/* general */
a { color: black; }
p { max-width: 600px; line-height: 1.4; }

/* forms */
label { display: block; margin-bottom: 2px; }

input { font-family: monospace; }
input[type="submit"] { cursor: pointer; }

.form-inline { display: inline-block; }
.form-inline input[type="submit"] { border: none; background: unset; padding: 0; }
.form-inline input[type="submit"]:hover { text-decoration: underline; }

aside { padding: 8px 16px; }
aside:has(.alert-error) { border: 8px solid #ff00005e; }
aside:has(.alert-success) { border: 8px solid #0080005e; }
.alert-error { color: red; }
.alert-success { color: green; }

/* nav */
nav { display: grid; gap: 0; grid-template-columns: auto 1fr auto; outline: 1px solid black; }
nav h1 { margin: 0; text-align: center; outline: 1px solid black; }
nav h1 a {
    font-size: 20px;
    font-weight: 400;
    display: block;
    padding: 16px 24px;
}
nav a { text-decoration: none; }
nav a:hover { text-decoration: underline; }
#controls { outline: 1px solid black; display: flex; }
.controls-item { display: flex; }
.controls-item a { padding: 20px; }

/* main */
main { display: grid; grid-template-columns: auto auto auto; }
.cell {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
}
.cell div:not(:last-child) { border-right: 1px solid black; }
.cell div {
    border-right: 1px solid black;
    padding: 8px;
}
