{% extends 'main/layout.html' %}

{% block content %}
<main id="contacts">
    {% for contact in contact_list %}
    <div class="contactcell">
        <div>
            {{ contact.api_id|default:"(none)" }}
        </div>
        <div>
            {{ contact.first_name }}
        </div>
        <div>
            {{ contact.last_name }}
        </div>
        <div>
            [
            <a href="{% url 'contact_update' contact.id %}">edit</a>
            ]
        </div>
    </div>
    {% empty %}
    <div style="margin: 8px;">
        <em>(no contacts)</em>
    </div>
    {% endfor %}
</main>
{% endblock %}
