{% extends 'main/layout.html' %}

{% block content %}
<main id="domains">
    {% for domain in domain_list %}
    <div class="domaincell">
        <div>
            {{ domain.domain_name }}
            <small>
                <a href="">(visit ↗)</a>
            </small>
        </div>
        <div>Expires: {{ domain.created_at|date }}</div>
        <div>
            [
            <a href="{% url 'domain_update' domain.id %}">manage</a>
            | <a href="">renew now</a>
            ]
        </div>
    </div>
    {% empty %}
    <div style="margin: 8px;">
        <em>(no domains)</em>
    </div>
    {% endfor %}
</main>
{% endblock %}
