{% extends 'main/layout.html' %}

{% block content %}
<main>
    {% for domain in domain_list %}
    <div class="cell">
        <div>
            {{ domain.domain_name }}
            <small>
                <a href="">(visit ↗)</a>
            </small>
        </div>
        <div>{{ domain.created_at }}</div>
        <div>
            <a href="">manage</a>
        </div>
    </div>
    {% empty %}
    <div style="margin: 8px;">
        <em>(no domains)</em>
    </div>
    {% endfor %}
</main>
{% endblock %}
