{% extends 'main/layout.html' %}

{% block content %}
<main>
    <div style="margin-left: 8px;">
        <h1>Hi!</h1>
        <p>we offer a simple interface to register and manage domains.</p>
        <p>
            we're still alpha. not much is working. you can register .com domains and set
            their nameservers but nothing else.
        </p>
        <p>TODO:</p>
        <div>
            <label><input type="checkbox" checked>Login and sign up</label>
            <label><input type="checkbox" checked>Register domain</label>
            <label><input type="checkbox" checked>Pay for domain</label>
            <label><input type="checkbox">Choose domain registar API</label>
            <label><input type="checkbox">Renew domain</label>
            <label><input type="checkbox">Search for domains</label>
            <label><input type="checkbox">Renew or auto-renew domain</label>
            <label><input type="checkbox">Transfer domain</label>
        </div>
        <p>
            Source code:
            <br>
            <a href="https://github.com/sirodoht/tofunames">https://github.com/sirodoht/tofunames</a>
        </p>
    </div>
</main>
{% endblock %}
