{% extends 'main/layout.html' %}

{% block content %}
<main>
    <div class="domain">
        <div>01x.co</div>
        <div>2025-07-02</div>
        <div>manage</div>
    </div>
    <div class="domain">
        <div>01x.co</div>
        <div>2025-07-02</div>
        <div>manage</div>
    </div>
    <div class="domain">
        <div>01x.co</div>
        <div>2025-07-02</div>
        <div>manage</div>
    </div>
    <div class="domain">
        <div>01x.co</div>
        <div>2025-07-02</div>
        <div>manage</div>
    </div>
    <div class="domain">
        <div>01x.co</div>
        <div>2025-07-02</div>
        <div>manage</div>
    </div>
</main>
{% endblock %}
