<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>tofunames.com</title>
    <meta name="description" content="domain names for hackers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include 'assets/style.css' %}</style>
</html>

<body>
    <nav>
        <h1>
            <a href="{% url 'index' %}">tofunames.com</a>
        </h1>
        <div></div>
        <div id="controls">
            <div class="controls-item" style="border-right: 1px solid black;">
                <a href="">sirodoht</a>
            </div>
            <div class="controls-item">
                <a href="">logout</a>
            </div>
        </div>
    </nav>

    <div style="margin: 8px;">
        [ <a href="{% url 'index' %}">Domains</a>
        | <a href="{% url 'domain_create' %}">Add Domain</a>
        | <a href="{% url 'contact_list' %}">Contacts</a>
        | <a href="{% url 'contact_create' %}">Add Contact</a>
        ]
    </div>

    {% block content %}
    {% endblock %}
</body>
